/*side menu css*/
div.sdmenu {
	/*change the width of side menu*/
	width: 185px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-bottom: 20px;
	padding-left: 0px;
	background: url(../images/menu/bottom2.gif) no-repeat right bottom;
	color: #ffffff;
	float:left;

}
div.sdmenu div {
	background: url(../images/menu/menubg_new.jpg) repeat-x;
	overflow: hidden;
	border-radius:4px;
}
div.sdmenu div:first-child {
	background: url(../images/menu/menubg_new.jpg) no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: #555;
	background: url(../images/menu/c2-arrow.png) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
    text-align: left;
}
div.sdmenu div.collapsed span {
	background-image: url(../images/menu/c1-arrow.png);
}

/*Side menu background*/
div.sdmenu div a {
	padding: 5px 10px;
	display: block;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-decoration:none;
	background-color: #FFFFFF;
    text-align: left;
}
div.sdmenu div a.current {
	background : #f7f6ed;
}
div.sdmenu div a:hover {
	/*background : url(linkarrow.gif) no-repeat right center;*/
	color: #FFFFFF;
	text-decoration: none;
	background-color: orange;
}